# These owners will be the default owners for everything in
# the repo.

* @jotwanideepak15@gmail.com

.github/settings.yml @jotwanideepak15@gmail.com
.github/CODEOWNERS @jotwanideepak15@gmail.com